


.button{
    padding:20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 75px;
    font-size: large;
}

.button:hover{
    background-color: rgb(190, 190, 190);
}

.button:active{
    background-color: gray;
}

.row{
    margin-top: 8px;
    margin-bottom: 8px;
}

.input{
    margin:0 ;
    padding :6px 28px;
    border: 2px solid black;
    width: 258px;
    height: 30px;
    font-size: large;
}

.bg-color {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,191,253,1) 50%, rgba(252,176,69,1) 100%);
}